html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}
.l-header {
    height: 217px;
    background-color: #FFF7EF; 
}

.l-header__title {
    display: block;
}

.l-header__title h1 {
    text-align: center;
}