html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

.l-body {
    height: 100vh;
    width: 100vw;
    font-family: "Roboto", sans-serif, "M PLUS 1p";
    box-sizing: border-box;
  }
  
.l-header {
    width: 1200px;
    height: 217px;
    background-color: #FFF7EF; 
}

.l-header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

.l-header__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.l-header__title h1 {
    text-align: center;
    margin-left: 60px;
}

.h1 {
    height: 300px;
    width: 345px;
    
}
.h1 img {

}

.c-search-form {
    display: flex;
    align-items: center;
    position: relative;
    margin: 4rem auto 3.9rem auto;
}

.c-search-form input {
    height: 4.6rem;
    width: 34rem;
    display: inline-block;
    border-radius: 10px 10px 10px 10px;
    background-color: #FFFFFF;
    border: 1px solid #707070;
}

  .c-search-form::before {
    content: '';
    width: 30px;
    height: 30px;
    margin-left: 10px;
    display: inline-block;
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z' fill='%23777777'%3E%3C/path%3E%3C/svg%3E");
}   

  .c-search-form button {
    height: 4.6rem;
    width: 9rem;
    margin-left: 1.6rem;
    display: inline-block;
    background-color: #F2EDE9;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #707070;
    font-family: "M PLUS 1p";
    font-weight: bold;
    font-size: 1.6rem;
    color: #707070;
}
/*ダミーサイト始め*/
.l-main {
    position: relative;
}

.c-main-background__title h2 {
    position: absolute;
    color:#FFFFFF;
    font-family: "M PLUS 1p";
    font-weight: 700;
    top: 100px;
    width: 240px;
    height: 59px;
    left: 86px;
    margin: 12.2rem auto 11.1rem 2.5rem;
    font-size: 40px;
    line-height: 59.4px;
    
}
.c-main-background__title img {
    width: 1200px;
    height: 530px;
}
/*ダミーサイト終わり*/

.p-category {
    position: relative;
    top: 100px;

}

.c-background__takeout img {
    width: auto;
    height: auto;
    left: 119px;
}

.c-inner-title h3 {
    position: absolute;
    top: 10px;
    color:#FFFFFF;
    font-family: "Roboto";
    width: 319px;
    height: 94px;
    font-size: 80px;

}

.c-takeout__wrapper {
    height: auto;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background: rgba(255, 255, 255, 0.79);
    margin-bottom: 3.2%;
    display: flex;
    flex-direction: column;
}

.c-list {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}
.c-background__inner-list {
    margin: 10px;
}
      
.c-takeout__inner--white {
    bottom: 100px;
    width: 584px;
    position: absolute;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.79);
}

.c-takeout__inner-text {
    padding: 1.4rem 2rem 1.4rem 2rem;
    display: flex;
    flex-direction: column;
}

.c-takeout__inner-text dt {
    font-weight: bold;
    height: auto;
    width: auto;
    font-size: 2.2rem;
    display: flex;
    flex-direction: column;
    position: relative;
}
  
      